@page "/editProjectDes"


@using Blazor_Control_Work.Data
@using EditorUnit

@inject NavigationManager NavigationManager
@inject SingletonService SingletonService

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

                @if (SingletonService.project.Dept == "Газификация")
                {
                    <h1>Технико-экономические показатели</h1>
                    <h1>Газопровод-ввод низкого давления</h1>
                    <label class="form-label" for="form3Example1cg">Диаметр (мм) трубопровода</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <label class="form-label" for="form3Example1cg">Протяженность линейного объекта</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <h1>Вводной газопровод низкого давления</h1>
                    <label class="form-label" for="form3Example1cg">Протяженность линейного объекта</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <h1>Сметная стоимсть работ, тыс. руб и срок разработки</h1>
                    <label class="form-label" for="form3Example1cg">Стоимость</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <label class="form-label" for="form3Example1cg">Срок разработки проектой документации, месяцев</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />
                }
                else if (SingletonService.project.Dept == "Водоснабжение")
                {
                    <h1>Технико-экономические показатели</h1>
                    <label class="form-label" for="form3Example1cg">Диаметр (мм) трубопровода</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <label class="form-label" for="form3Example1cg">Протяженность линейного объекта</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <label class="form-label" for="form3Example1cg">Производительность БОС (куб м/сут)</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <label class="form-label" for="form3Example1cg">Количество КНС</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <label class="form-label" for="form3Example1cg">Производительность КНС (куб м/ч)</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <h1>Сметная стоимсть работ, тыс. руб и срок разработки</h1>
                    <label class="form-label" for="form3Example1cg">Стоимость</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />

                    <label class="form-label" for="form3Example1cg">Срок разработки проектой документации, месяцев</label>
                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


@code {

}
