@page "/editProjectDes"


@using Blazor_Control_Work.Data
@using EditorUnit

@inject NavigationManager NavigationManager
@inject SingletonService SingletonService

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                
                @foreach (var project in users)
                {
                    @foreach (var a in project.projects)
                    {
                        @if (a.Name == SingletonService.project)
                        {
                            Project project1 = new Project(a.Name);
                            var index = project.projects.IndexOf(project1) + 1;
                            <label class="form-label" for="form3Example1cg">@index</label>

                            @if (project.projects[(int)index].Dept == "Газификация")
                            {
                                <label class="form-label" for="form3Example1cg">Письмо-обращение на имя Президента</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Задание на проектирование</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Ситуационный план</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Технические условия на присоединение к газораспределительной сети</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Технический паспорт объекта СКБ</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Технический паспорт котельной</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Акт обследования объекта</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Технические условия на сети электроснабжения</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Согласование посадки котельной</label>
                                <InputFile></InputFile>
                            }
                            else if (project.projects[(int)index].Dept == "Водоснабжение")
                            {
                                <label class="form-label" for="form3Example1cg">Письмо-обращение на имя Президента</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Задание на проектирование</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Ситуационный план</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Технические условия на присоединение к водоканальным сетям</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Технический паспорт объекта СКБ</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Акт обследования объекта</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Технические условия на сети водоснабжения</label>
                                <InputFile></InputFile>
                                <label class="form-label" for="form3Example1cg">Согласование посадки котельной</label>
                            }
                        }
                    }
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


@code {
        List<User> users = Mongo.FindAll();
}
