@page "/"
@using Blazor_Control_Work.Data
@inject SingletonService SingletonService

<PageTitle>Index</PageTitle>

@if (SingletonService.user != null)
{
    <h1>Hello, @SingletonService.user.Name !</h1>
}
else
{
    <h1>Hello, World!</h1>
}

Welcome to your new app.
