@page "/log"

<PageTitle></PageTitle>

@using Blazor_Control_Work.Data
@using EditorUnit

@inject NavigationManager Navigation
@inject SingletonService SingletonService

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="email" @bind="@userLogin" id="typeEmailX" class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX">Login</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" @bind="@userPassword"  id="typePasswordX" class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX">Password</label>
                            </div>
                            @if(checkUser)
                            {
                                <label class="form-label" for="typePasswordX">Такого пользователя нет или пороль неправильный</label>
                            }

                            <button class="btn btn-outline-light btn-lg px-5" type="submit" @onclick="Log_In">Login</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
        string userLogin;
        string userPassword;
        bool checkUser = false;

        private bool CheckError;
        private string strError = "Неизвестная ошибка";

        public void Log_In()
        {
            User user = Mongo.Find(userLogin);
            if (user != null)
            {
                if (userPassword == user.Password)
                {
                    SingletonService.user = user;
                    Navigation.NavigateTo("/profile");
                }
                else
                {
                    CheckError = true;
                    strError = "Неверный пароль";
                }

            }
            else
            {
                checkUser = true;
            }
        }
    }
}
