@page "/projectsDevDes"
@inject NavigationManager NavigationManager
@inject SingletonService SingletonService

<PageTitle>Project</PageTitle>

@using Blazor_Control_Work.Data
@using EditorUnit

@inject SingletonService SingletonService

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @if (SingletonService.user.Role == "Developer")
        {
            @foreach (var project in project)
            {
                @if (project.Developer == SingletonService.user.Developer)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td><button type="button" @onclick="()=>editProjectDev(project)" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Edit</button></td>
                    </tr>
                }
            }
        }
        else if (SingletonService.user.Role == "Designer")
        {
            @foreach (var project in project)
            {
                @if (project.Designer == SingletonService.user.Designer)
                {
                    <tr>
                        <td>@project.Name</td>
                        <div class="d-flex justify-content-center">
                            <button type="button" @onclick="()=>editProjectDes(project)" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Edit</button>
                        </div>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@code {
    List<Project> project = Mongo.FindAllProject();

    public void editProjectDev(Project project)
    {
        SingletonService.project = project;
        NavigationManager.NavigateTo("/editProjectDev");
    }

    public void editProjectDes(Project project)
    {
        SingletonService.project = project;
        NavigationManager.NavigateTo("/editProjectDes");
    }
}