@using Blazor_Control_Work.Data
@inject SingletonService SingletonService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Control Work</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (SingletonService.user != null)
        {
            if (SingletonService.user.Role == "Customer")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="projects">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Project
                    </NavLink>
                </div>
            }
            else if (SingletonService.user.Role == "Developer" || SingletonService.user.Role == "Designer")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="projectsDevDes">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Project
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
